*{
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
    background-color: bisque;
}
.card{
    margin-bottom: 2rem;
    height: 400px;
    overflow-y: scroll;
}
.btn{
    margin: 5px;
    padding: 7px;
    width:70px
}
.img{
    height: 200px;
}